<footer>  
  <div class="footer-container">

    <div class="row cf">
      <div class="footer-header">
        <a class="logo logo--footer" href="{{site.baseurl}}/">Zzyzzx</a>
        <div class="slogan">Eu mucius convenire sea, veniam primis prompta nec cu.</div>
      </div>
    </div>

    <div class="row cf">
      <div class="column one-fifth">
        <div class="footer-section">
          <h4>Follow Us</h4>
          <ul>
            <li><a href="">Facebook</a></li>
            <li><a href="">Twitter</a></li>
            <li><a href="">Google+</a></li>
          </ul>
        </div>
        <div class="footer-section">
          <h4>Help &amp; Support</h4>
          <ul>
            <li><a href="">FAQ</a></li>
            <li><a href="">About Zzyzzx</a></li>
            <li><a href="">Contact Support</a></li>
          </ul>
        </div>
      </div>    
      <div class="column two-fifths">
        Id eos justo splendide. At quo consul corpora, nemore electram hendrerit ei vix, vim ei ceteros volutpat. Cu autem voluptaria usu, fugit tempor nonumes vix te, fabulas maiestatis te pri. Ea ubique quaeque adolescens mei, ex per agam duis complectitur. Cu labore sensibus recteque eos. Sit persius feugiat an. Dicit possit recteque eu eos, error contentiones per ea, iuvaret suavitate te pro. Utamur argumentum per ut. Ei sea dolor mentitum, albucius persequeris ea vis, democritum definitiones cu eos. Eu sit facilisis similique. Ad regione sanctus sed.
      </div>
      <div class="column two-fifths">
        Facer affert has in, et ferri reprimique eam. In suscipit mediocritatem pri, pro eu mollis labores. Cu qui molestie delectus repudiare, illum qualisque hendrerit eu vim, vix et reque verear intellegam. Eu mucius convenire sea, veniam primis prompta nec cu. Te eos idque augue, et dicam docendi postulant vel. Impetus numquam rationibus vim cu.
      </div>
    </div>
  </div>
</footer>